.group {
  display: flex;
  flex-direction: row;
  gap: 4px;
  flex-wrap: wrap;
  justify-content: start;
  margin-bottom: 1rem;

  label {
    display: flex;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 2px 8px;
  }
}
